.postList{
    padding-bottom: 2;
    list-style-type: none;
    padding-right: none;
    margin-left: none;
    max-width: 50rem;
    margin: 1rem auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 30%);
    justify-content: center;
}

.noPosts{
    text-align: center;
    font-size: xx-large;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.loading{
    text-align: center;
    font-size: large;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    opacity: 50%;
}

.emptyMessage {
    text-align: center;
}